.stage-six
        .row.stage-2
          .instructions.col-xs-12
            %h2
              Please give explanations for each grouping of products.
        .imageOne
          %img{src: "/assets/Control-1.jpg"}
        .imageTwo
          %img{src: "/assets/Control-2.jpg"}
        .imageThree
          %img{src: "/assets/Control-3.jpg"}
        .imageFour
          %img{src: "/assets/Control-4.jpg"}
        .answerTextBox12
          .clip3
            %textarea{cols: '75', rows:'4'}
        .answerTextBox22
          .clip3
            %textarea{cols: '75', rows:'4'}        
        .imageFive
          %img{src: "/assets/Schema-1.jpg"}
        .imageSix
          %img{src: "/assets/Schema-2.jpg"}
        .imageSeven
          %img{src: "/assets/Schema-3.jpg"}
        .imageEight
          %img{src: "/assets/Schema-4.jpg"}
        .answerTextBox32
          .clip3
            %textarea{cols: '75', rows:'4'}
        .answerTextBox42
          .clip3
            %textarea{cols: '75', rows:'4'}
        .imageNine
          %img{src: "/assets/Control-5.jpg"}
        .imageTen
          %img{src: "/assets/Control-6.jpg"}
        .answerTextBox52
          .clip3
            %textarea{cols: '75', rows:'4'}
            

.stage-three
        .imageOne
          %img{src: "/assets/Control-1.jpg"}
        .imageTwo
          %img{src: "/assets/Control-2.jpg"}
        .imageThree
          %img{src: "/assets/Control-3.jpg"}
        .imageFour
          %img{src: "/assets/Control-4.jpg"}
        .answerTextBox1
          %p This is why these two products are structurally similar yay rainbow unicorns. I love mochi ice cream. This is why these two products are structurally similar yay rainbow unicorns. I love mochi ice cream. This is why these two products are structurally similar yay rainbow unicorns. I love mochi ice cream.
          %hr{noshade: "noshade", size: "4", width: "470px"}
        .answerTextBox2
          %p This is why these two products are structurally similar yay rainbow unicorns. I love mochi ice cream. This is why these two products are structurally similar yay rainbow unicorns. I love mochi ice cream. This is why these two products are structurally similar yay rainbow unicorns. I love mochi ice cream. 
          %hr{noshade: "noshade", size: "4", width: "470px"}




.instructions.col-xs-12
            %h2
              Here is how the products should have been grouped and why:.instructions.col-xs-12
            %h2
              Here is how the products should have been grouped and why: