!!! 5
%html
  %head
    %title Option Manager - Phase 2
    %meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"}
    %link{href: "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css", rel: "stylesheet"}
    %script{src: "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"}
    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel: "stylesheet"}
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    %link{href: "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel: "stylesheet"}
    %script{src:'/assets/jquery.ui.sortable.hotfix.js'}
    %script{src:'/assets/jquery.blockUI.js'}
    %script{src:'/assets/jquery.scrollTo.min.js'}
    %link{href: "/assets/global.css", rel: "stylesheet"}
    %link{href: "/assets/main.css", rel: "stylesheet"}
    %script{src:'/assets/main.js'}

  %body.v-option-manager-2
    #mode
      = mode
    #main-container.container-fluid
      .header
        .row
          .title.col-xs-12
            %br
            %h2
              = title
              /title is defined in index.js
        .row
          .col-xs-6
            /if schema names are filled out, continue to next step
            %button.btn.btn-info.next-stage.pull-left
              Continue to Next Step
          .col-xs-6
            %button.btn.btn-danger.restart-hit.pull-right
              Restart HIT
        %hr
        .row.stage-1
          .instructions.col-xs-12
            %span.stage.stage-1
              %h2
                Below are four products and their descriptions. Please summarize the products' purposes and mechanisms to achieve said purposes in one or two sentences.
        /this will be the real first stage
        %br
        .row2
          .cluster2.stage-1
            .cluster-clips2
              - each clip in clips
                .row{"data-cid":clip['clips'][0][0]}
                  .col-xs-3
                    .firstStageImages
                      %img{"src": clip['clips'][0][2]}
                  .boxed.col-xs-7
                    .writing
                      = clip['clips'][0][1]
                  .col-xs-2
                    .clip2
                      %textarea{cols: '54', rows:'2'}
      
      .workspace
        .row.stage-2
          .instructions.col-xs-12
            %h2
              Please classify the products based on their structual similarities.              
        /this is the left side
        .col-xs-6
          %ul.nav.nav-tabs
            %li
              %a.clips-tab.stage.stage-2{href:'#clips', "data-toggle":'tab', disabled: true}
                Images
          .tab-content
            #clips.clips.tab-pane
              - each clip in clips
                .clip.draggable{"data-cid":clip['clips'][0][0]}
                  .col-xs-5
                    %img{"src": clip['clips'][0][2]}
                  .col-xs-7
                    .writing2
                      = clip['clips'][0][1]
                  
        /this is the right side
        .col-xs-6
          .pills-container
            .pills
              %button.btn.btn-default.btn-xs.scrolltop{type: 'button'}
                Top
            %hr
          .clusters.stage-2
            /this is the bin with the existing clusters from stage 1
            /and it seems like it is also apparent in stage 1
            - each cluster in clusters  
              .cluster{id: getUUID()}
                .blah
                  %span.selector
                    - each clip in cluster['clips']
                      %i.fa.fa-circle-o.dot{"data-cid":clip[0]}
                  %a.show-all{src: '#'}
                    %i.fa.fa-angle-double-down
                      Show All
                .input-group
                  .span.input-group-addon
                    Schema Name
                  %input.form-control.cluster-name{type:'text'}
                .footer
                  
            /this is the creating clusters bin    
            .cluster.create.stage.stage-2
              .blah
                .selector
                  %i.fa.fa-circle-o.dot{"data-cid":-1}
              .cluster-clips.create
                .clip{"data-cid":-1}
                  Drag products here to create a new schema.
            
            /this is the trash bin
            .cluster.trash.stage.stage-2
              .blah
                .selector
                  %i.fa.fa-circle-o.dot{"data-cid":-1}
              .cluster-clips.trash
                .clip{"data-cid":-1}
                  Unmatched Bin: drag products that don't match with any others here.
      
      .stage-three
        .row.stage-3
          .instructions.col-xs-12
            %h2
              Here is how the products should have been grouped and why:
        .imageOne
          %img{src: "/assets/Control-1.jpg"}
        .imageTwo
          %img{src: "/assets/Control-2.jpg"}
        .imageThree
          %img{src: "/assets/Control-3.jpg"}
        .imageFour
          %img{src: "/assets/Control-4.jpg"}
        .answerTextBox1
          %p This is why these two products are structurally similar yay rainbow unicorns. I love mochi ice cream. This is why these two products are structurally similar yay rainbow unicorns. I love mochi ice cream. This is why these two products are structurally similar yay rainbow unicorns. I love mochi ice cream.
          %hr{noshade: "noshade", size: "4", width: "470px"}
        .answerTextBox2
          %p This is why these two products are structurally similar yay rainbow unicorns. I love mochi ice cream. This is why these two products are structurally similar yay rainbow unicorns. I love mochi ice cream. This is why these two products are structurally similar yay rainbow unicorns. I love mochi ice cream. 
          %hr{noshade: "noshade", size: "4", width: "470px"}
          
      .stage-six
        .imageOne
          %img{src: "/assets/Control-1.jpg"}
        .imageTwo
          %img{src: "/assets/Control-2.jpg"}
        .imageThree
          %img{src: "/assets/Control-3.jpg"}
        .imageFour
          %img{src: "/assets/Control-4.jpg"}
        .answerTextBox12
          .clip3
            %textarea{cols: '75', rows:'4'}
        .answerTextBox22
          .clip3
            %textarea{cols: '75', rows:'4'}        
        .imageFive
          %img{src: "/assets/Schema-1.jpg"}
        .imageSix
          %img{src: "/assets/Schema-2.jpg"}
        .imageSeven
          %img{src: "/assets/Schema-3.jpg"}
        .imageEight
          %img{src: "/assets/Schema-4.jpg"}
        .answerTextBox32
          .clip3
            %textarea{cols: '110', rows:'4'}
        .imageNine
          %img{src: "/assets/Control-5.jpg"}
        .imageTen
          %img{src: "/assets/Control-6.jpg"}

          
      
          
      
          
          
          
          